@use 'modern-normalize';
@use '@angular/material' as mat;

@use './styles/fonts' as fonts;
@use './styles/theme' as theme;

@include mat.core(fonts.$snkrx-typography);
@include mat.core-theme(theme.$snkrx-theme);

html,
body {
  font-size: 10px;
  height: 100%;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

body {
  margin: 0;
}
